@media(max-width: 1350px) {
 
    .suds {
        top: 37%;
        width: 75px;
        height: 12%;
    }
}

// @media(max-width: 1200px) {
 
//     .suds {
//         top: 28vmax;
//     }
// }
  

// @media(max-width: 900px) {
 
//     .suds {
//         top: 33vw;
//     }
// }
  